<!-- Begin Mailchimp Signup Form -->
<form action="https://spacemesh.us16.list-manage.com/subscribe/post?u=447b608f20bcfa7174737ea1b&amp;id=640a6e062d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate newsletter-subscribe" target="_blank" rel="noopener noreferrer" novalidate>
    <input type="email" value="" placeholder="Email address" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="off" spellcheck="false">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_447b608f20bcfa7174737ea1b_640a6e062d" tabindex="-1" value=""></div>
    <div class="button accent">
        <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="overlay">
        <div class="label adjust-baseline">Sign Up</div>
        <div class="icon adjust-baseline">
            {{ partial "svg/arrow.svg"}}
        </div>
    </div>
</form>
<!--End mc_embed_signup-->