<script type="text/javascript">
  var MTUserId='27be7065-3dbb-45e3-b1db-cac4a9c910b0';
  var MTFontIds = new Array();

  MTFontIds.push("1475956"); // Univers® W01 55 Roman 
  MTFontIds.push("1475968"); // Univers® W01 65 Bold 
  MTFontIds.push("1476034"); // Univers® W01 63 Bold Extended 
  MTFontIds.push("1476058"); // Univers® W01 93 Extra Black Extended 
  MTFontIds.push("6479071"); // Univers® W01 45 Light 
  (function() {
      var mtTracking = document.createElement('script');
      mtTracking.type='text/javascript';
      mtTracking.async='true';
      mtTracking.src='mtiFontTrackingCode.js';

      (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(mtTracking);
    })();
</script>

<link rel="preload" href="/fonts/1475956/5c8d59c2-9c85-4a22-88e3-bf3fba01dcd8.woff2" as="font" crossorigin="anonymous" />
<link rel="preload" href="/fonts/1475968/8a711a0d-3f17-4bfe-887b-6229858332b3.woff2" as="font" crossorigin="anonymous" />
<link rel="preload" href="/fonts/1476034/215be6ba-8f98-4b15-85a3-7ae5a600566d.woff2" as="font" crossorigin="anonymous" />
<link rel="preload" href="/fonts/1476058/00c16471-ed4a-4c2f-b251-37c32e93fc66.woff2" as="font" crossorigin="anonymous" />
<link rel="preload" href="/fonts/6479071/fccb03f1-1b0d-4b49-b44f-f66b2cd4b6dc.woff2" as="font" crossorigin="anonymous" />
