.menu {
	position: absolute;
	top: 0;
	width: 100%;

	overflow: hidden;
	display: flex;
	flex-direction: column;
	color: var(--color-white);
	text-transform: uppercase;
	user-select: none;

	a {
		color: var(--color-white);
		&.active {
			color: var(--color-white);
		}
	}

	a.active {
		color: var(--color-accent);
	}

	.menu__quick {
		display: flex;
		justify-content: space-between;
		height: var(--site-menu-height);

		.nav {
			display: flex;
			line-height: var(--site-menu-height);
			a {
				font-weight: 800;
				padding: 8px 5px;
				font-size: 0.675rem;
				transition: color 0.3s var(--ease-in-quad);

				@media (min-width: $break-tablet) {
					padding: 8px;
					font-size: 0.875rem;
				}

				@media (hover) {
					&:hover {
						color: var(--color-accent);
					}
				}
			}
		}

		.toggle {
			$height: 1px;
			$spacing: 6px;
			width: 40px;
			position: relative;
			display: flex;
			justify-content: center;
			align-content: center;
			flex-direction: column;

			@media (min-width: $break-tablet) {
				width: 65px;
			}

			.line {
				display: block;
				height: $height;
				width: 100%;
				background-color: var(--color-white);
				position: absolute;
				transform-origin: center center;
				transition: transform 0.7s var(--ease-in-out-circ),
					opacity 0.7s var(--ease-in-out-circ),
					background 0.2s var(--ease-in-out-circ);

				&:first-child {
					transform: translateY(-($height + $spacing));
				}

				&:last-child {
					transform: translateY($height + $spacing);
				}
			}

			&.open {
				.line:first-child {
					transform: translateY(0);
				}
				.line:nth-child(2) {
					opacity: 0;
				}
				.line:last-child {
					transform: translateY(0);
				}
			}

			@media (hover) {
				&.open:hover {
					.line:first-child {
						transform: rotate(22.5deg);
					}
					.line:last-child {
						transform: rotate(-22.5deg);
					}
				}

				&:hover {
					.line {
						background-color: var(--color-accent);
					}
				}
			}
		}

		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.menu__primary {
		padding-bottom: 40px;
		opacity: 0; // Prevent flash

		.nav {
			li {
				height: 3.75em;
				line-height: 3.75em;

				a {
					font-size: 1rem;
					font-weight: 800;
					display: flex;
					justify-content: space-between;
					align-items: center;

					@media (min-width: $break-tablet) {
						font-size: 1.5rem;
					}

					.title {
						position: relative;
						top: 0.1em;
						transition: color 0.3s var(--ease-in-quad);
					}
					.arrow {
						width: auto;
						height: 100%;
						opacity: 0;
						transition: opacity 0.3s var(--ease-in-quad),
							transform 0.2s var(--ease-in-quad);
					}

					@media (hover) {
						&:hover {
							.arrow {
								opacity: 1;
							}
							.title {
								color: var(--color-accent);
							}
						}
					}
				}

				.split {
					width: 100%;
					background: var(--color-white-20);
					height: 1px;
					transform-origin: center left;
				}
			}
		}

		.secondary {
			margin-top: 30px;
			margin-bottom: 100px;
			font-size: 0.8125rem;
			line-height: 1.65;

			@media (hover) {
				a:hover {
					color: var(--color-accent);
				}
			}

			@media (min-width: 425px) {
				display: flex;
				justify-content: space-between;
			}

			@media (min-width: $break-laptop) {
				line-height: 1.9;
			}

			.social {
				margin-top: 20px;
				@media (min-width: 425px) {
					margin-top: 0;
				}
				@media (min-width: $break-tablet) {
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: 1fr 1fr 1fr;
					grid-column-gap: 50px;
					height: fit-content;
				}
			}
		}

		.newsletter {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			@media (min-width: $break-laptop) {
				flex-direction: row;
			}

			.newsletter-subscribe {
				max-width: 970px;
			}

			p {
				font-size: 0.8125rem;
				margin-bottom: 40px;
				max-width: 356px;
				width: 100%;
				opacity: 0.5;
				margin-right: 4rem;
				line-height: 1.25;
			}
		}
	}
}

#menu-close-pixel {
	position: absolute;
	width: 5px;
	height: 100px;
	bottom: 0px;
	left: 0;
	// background-color: red;
}
