{{ $type := "creators" }}
{{ partial "blocks/_header.html" (merge . (dict "type" $type)) }}
{{ $site := .ctx.Site }}
{{ $ctx := .ctx }}
<section class="block__top">
    <p class="intro">{{ .data.intro | safeHTML }}</p>
    <nav class="navigation">
        {{ range .data.featured }}
            {{ with $site.GetPage . }}
                <a href="#">{{ .Params.firstname }}{{ with .Params.lastname }} {{.}}{{end}}</a>
            {{ end }}
        {{ end }}
    </nav>
</section>

<div class="posters">
{{ range .data.featured }}
{{ with $site.GetPage . }}
    <img
        src="{{ .Params.thumbnail }}"
        class="creator"
        alt="{{ .Params.firstname }}{{ with .Params.lastname }} {{.}}{{end}}"
        data-name="{{ .Params.firstname }} {{ .Params.lastname }}"
        data-video="{{ .Params.video }}"
        data-id="{{ .Params.vimeo_id }}"
        data-subtitle="{{ .Params.subtitle }}"
        data-width="590"
        data-height="528"
    />
{{ end }}
{{ end }}
</div>

<section class="block__bottom">
    <p class="name name--a"></p>
    <p class="name name--b"></p>
</section>

<div class="play cursor">
    <div class="icon play"></div>
</div>

{{ partial "blocks/_footer.html" . }}
