[data-block='startLink'] {
	background-color: var(--color-gray-light);
	min-height: 205px;

	&.disabled {
		background-color: var(--color-gray-dark);
	}

	&:hover {
		background-color: var(--color-accent);
		color: var(--color-black);

		h3 {
			color: var(--color-black);
		}

		svg path {
			fill: var(--color-black);
			opacity: 1;
		}

		.link .block__top svg.arrow {
			transform: rotateZ(-45deg);
		}
	}

	svg path {
		opacity: 0.5;
	}

	.link {
		height: 100%;
		color: var(--color-white);
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&.disabled {
			opacity: 0.3;
			pointer-events: none;
		}

		.block__top {
			display: flex;
			justify-content: space-between;
			.icon {
				display: block;
				position: relative;
			}
			.arrow {
				position: relative;
				align-self: flex-start;
				transform: rotateZ(0);
			}
		}

		.block__bottom {
			h3 {
				max-width: 460px;
				font-size: 0.8rem;
				font-weight: 800;

				@media (min-width: $break-tablet) {
					font-size: 1rem;
				}
			}
		}
	}
}
