[data-block='subtitle'] {
	background-color: var(--color-accent);
	min-height: 336px;
	height: 100%;

	h2 {
		margin-top: 2.125rem;
	}

	svg.arrow path {
		fill: var(--color-black);
	}

	.block__bottom {
		margin: 0;

		.links {
			a {
				&:first-child {
					border-top: 1px solid var(--color-black);
				}
				padding-left: var(--padding);
				padding-right: var(--padding);

				span {
					will-change: transform;
					transition: transform 0.4s var(--ease-out-cubic);
				}

				&:hover {
					background-color: var(--color-smoke-light);
					svg.arrow {
						transform: rotateZ(-45deg);
					}
				}

				&:last-of-type {
					padding-bottom: calc(var(--padding) / 2);
				}
			}
		}
	}
}
