[data-block='testnet'] {
	cursor: pointer;
	.block__top {
		display: flex;
		justify-content: space-between;
	}

	.block__bottom {
		display: flex;
		flex-direction: column;
		margin: 8em 0 0 0;

		.status {
			padding: var(--padding);
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			position: relative;
			span {
				text-align: right;
				font-size: 0.8125rem;
				font-weight: 200;
			}
			.status-img {
				position: relative;
				width: 110px;
				bottom: -10px;
				left: -10px;
				img.offline {
					position: absolute;
					top: 0;
					left: 0;
				}
				img.online {
					opacity: 0;
				}
			}
		}

		.grid {
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			background-color: var(--color-black);
			grid-gap: 1px;
			border-top: 1px solid var(--color-black);
			justify-content: space-between;
			align-content: space-between;

			@media (min-width: $break-laptop) {
				grid-template-columns: repeat(3, minmax(0, 1fr));
			}

			article {
				background: var(--color-white);
				padding: 1.25em;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.header {
					display: flex;
					justify-content: space-between;

					.label {
						font-size: 0.8rem;
						@media (min-width: $break-laptop-l) {
							font-size: 1rem;
						}
					}

					.icon {
						width: 0.85em;
						height: 0.85em;
						object-fit: contain;
						flex: none;
					}
				}
				.metric {
					margin-top: 2em;
					font-size: 1.7rem;
					color: var(--color-accent);

					@media (min-width: $break-laptop-l) {
						font-size: 2.5rem;
					}

					span {
						font-size: 0.4em;
						padding-left: 0.5em;
					}
				}
			}
		}
	}
}
